table {
  width: 100%;
}
button{
  margin-bottom: 15px;
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0!important;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}




