mat-card {
  width: 80%!important;
  max-width: 450px;
  margin-top: 10vh;
}

mat-card-content {
  text-align: center;
}

.label {
  margin-top: 8px;
  font-size: 12pt;
}

mat-icon {
  font-size: 18pt;
}

.new-email-section {
  margin-top: 5vh;
}
