<app-bucket-details *ngIf="selectedBucket != null ; else elseBlock"  [buttonsAllow]="showButtons" [inputBucket] = "selectedBucket" (backClicked)="onBack($event)" (saveClicked)="onSave($event)">
</app-bucket-details>

<ng-template #elseBlock>
  <app-bucket-list [buttonsAllow]="showButtons" [buckets]="buckets" (showClicked)="onShow($event)"></app-bucket-list>
</ng-template>

<div style="margin-top: 10vh" *ngIf="buckets && buckets.length == 0">
  <p>You don't have any buckets. Press the button to create them.</p>
</div>
